body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./image/photo-1487215078519-e21cc028cb29.avif');
    background-size: cover;
    color: aliceblue;
}

header {
    background: #0a0a0a;
    color: white;
}



nav {
    display: flex;
    justify-content: space-between; /* Space between the nav items and the logo */
    align-items: center; /* Center the items vertically */
}

.logo {
    margin-left: 30px; /* Push the logo to the right */
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 20px 20px;
}

nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav ul li a:hover {
    color: red;
    background: #555;
}

nav img {
    margin-top: 0%;
    height: 60px;
    width: auto;
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    margin: 15px 0;
}

.audio,
.video {
    margin: 20px auto;
    max-width: 600px;
}

audio {
    text-align: right;
    width: 100%;
    border-radius: 8px;
}

iframe {
    width: 100%;
    height: 315px;
    border: none;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}